* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 17, 62, 0.912);
}

header {
    padding-top: 20px;
    color: whitesmoke;
    text-align: center;
}
div {
    padding: 8px;
}

section {
    display: block;
    margin: 20px auto; 
    width: 500px;
    padding: 1.2em;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.426);
}

footer {
    margin: 10px;
    text-align: center;
    font-style: italic;
    color: whitesmoke;
}