* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(43, 121, 189, 0.826);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px;
    color: whitesmoke;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

section div {
    padding: 10px;
}

p#res {
    margin-bottom: 20px;
}

img#foto {
    display: block;
    margin: auto;
    border-radius: 50%;
}

footer {
    padding: 20px;
    color: white;
    font-style: italic;
}

